:root {
    font-size: 1rem;
}
.x-small{
    font-size: 0.4rem;
}
.small{
    font-size: 0.8rem;
}
.medium{
    font-size: 1.2rem;
}
.large{
    font-size: 1.6rem;
}
.x-large{
    font-size: 2rem;
}
footer{
    font-size: 1rem;
}
.description{
    font-size: 0.8em;
}
@media (min-width: 576px){
    :root {
        font-size: 1em;
    }
}
@media (min-width: 768px){
    :root {
        font-size: 2em;
    }
}
@media (min-width: 992px){
    :root {
        font-size: 3em;
    }
}